*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    
}
body{
    min-height: 100vh;
    background: linear-gradient(135deg, #44d1e6, #2b8ff2);
    
}
.container{
    width: 90%;
    max-width: 470px;
    margin: 100px auto 0;
    border-radius: 20px; 
    padding: 40px 35px;
    text-align: center; 
    box-shadow: 0 0 8px #333;
    background: rgba(0, 0, 0, 0.09);
}
.time{
   
}
.search-city{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.search-city input{
    border: 0;
    outline: 0;
    padding: 10px 25px;
    height: 55px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    background: rgb(234, 234, 234);
    color: #555;
    margin-top: 5%;

   
}
input:hover{
    border: 2px solid #808080;
    box-shadow: 0 0 5px #479df2;
    outline: none;
    border: 1px solid #479df2;
}

input:focus{
    box-shadow: 0 0 5px #479df2;
    outline: none;
    border: 1px solid #479df2;
        
}
.btn{
    border: 0;
    outline: 0;
    background-color: #5fa8f1;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    color: #fff; 
    /*border: transparent;*/
}
.btn:hover{
cursor: pointer; 
background-color: #3592e3;
}
.btn img{
    width: 16px; 
}
.date{
    
}
.clear{

}
.wind{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.wind img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
  
    
}
.wind p1, p2, p3{
    font-size: 1.2em;
    margin-left: 10px;
}
.humidity{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}
.humidity img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    margin-left: -22px;
}
.humidity p4, p5, p6{
    font-size: 1.2em;
    margin-left: 10px;
    
}
