<style>*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    
}
body{
    
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 100vh;
}
.container{
    display: flex; 
    justify-content: center;
    background-color: #FFF;
    height: 50vh;
    width: 35vw;
    border-radius: 15px;  
    box-shadow: 0 0 8px #333;
    
}
.search-city{
   margin-top: 5%;
}
input{
    font-size: 1.5em;
    padding: 10px;
   
}
input:hover{
    border: 2px solid #808080;
    box-shadow: 0 0 5px #0080FF;
    outline: none;
    border: 1px solid #0080FF;
}

input:focus{
    box-shadow: 0 0 5px #0080FF;
    outline: none;
    border: 1px solid #0080FF;
        
}
.btn{
    font-size: 1.5em;
    padding: 10px;
    background-color: #0080FF;
    color: #fff; 
    font-weight: 550;
    border: transparent;
    

}
.btn:hover{
cursor: pointer; 
background-color: #1167b1;
}